h1,
body {
  font-family: sans-serif;
}

h1 {
  font-size: 30px;
}

.weather-container {
  display: block;
  margin: 0 auto;
  background-color: #edf7fa;
  max-width: 800px;
  max-height: 450px;
}

.city {
  padding: 30px 0px;
  font-size: 20px;
  top: -20px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
}

a {
  text-decoration: none;
}

.weather-temperature {
  height: 100px;
  position: relative;
  top: -17px;
}

.weather-temperature strong {
  font-size: 45px;
  line-height: 1;
  position: relative;
  top: 17px;
}

.weather-temperature .active {
  cursor: default;
  color: rgb(35, 35, 35);
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.current-specs {
  background: transparent;
  padding: 20px;
  position: relative;
  left: 200px;
  top: -120px;
}

.today-specs {
  background: transparent;
  padding: 20px;
  position: relative;
  right: -600px;
  top: -290px;
}

.weather-forecast {
  margin-top: -180px;
  text-align: center;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
}

.weather-forecast-date {
  font-size: 18px;
}

.temp-min {
  opacity: 0.4;
}

.weather-forecast-temp {
  font-size: 16px;
}

footer {
  font-family: sans-serif;
  text-align: center;
  margin: 0 auto;
  display: block;
}
