h1,
body {
  font-family: sans-serif;
}

h1 {
  font-size: 30px;
}

.city {
  padding: 30px 0px;
  font-size: 20px;
  top: -20px;
}

.current-details .emoji {
  position: relative;
  top: -10px;
  font-size: 50px;
}

.current-details .current-degree {
  position: relative;
  top: -25px;
  left: 20px;
  font-size: 40px;
}

.current-details .day-temp {
  position: relative;
  left: -20px;
}

.current-specs {
  background: transparent;
  padding: 20px;
  position: fixed;
  left: 190px;
  top: 133px;
  list-style-type: none;
}

.today-specs {
  background: transparent;
  padding: 20px;
  position: fixed;
  left: 550px;
  top: 20px;
  list-style-type: none;
}

.container-1 {
  padding: 20px;
}
.weekdays {
  font-size: 50px;
}
